
#settings_content .aRow.crx_mouse_visited, #settings_content .bRow.crx_mouse_visited,
#settings_content .aRow .crx_mouse_visited, #settings_content .bRow .crx_mouse_visited,
#add_edit_user_container .aRow.crx_mouse_visited, #add_edit_user_container .bRow.crx_mouse_visited,
#add_edit_group_container .aRow.crx_mouse_visited, #add_edit_group_container .bRow.crx_mouse_visited,
#settings_content tr.crx_mouse_visited, #settings_content tr.crx_mouse_visited,
#settings_content tr .crx_mouse_visited, #settings_content tr .crx_mouse_visited,
#add_edit_user_container tr.crx_mouse_visited, #add_edit_user_container tr.crx_mouse_visited,
#add_edit_group_container tr.crx_mouse_visited, #add_edit_group_container .tr.crx_mouse_visited,
.ui-dialog .aRow.crx_mouse_visited, .ui-dialog .bRow.crx_mouse_visited,
.ui-dialog .aRow .crx_mouse_visited, .ui-dialog .bRow .crx_mouse_visited,
#create_or_edit_list_item .aRow.crx_mouse_visited, #create_or_edit_list_item .bRow.crx_mouse_visited,
#create_or_edit_list_item .aRow .crx_mouse_visited, #create_or_edit_list_item .bRow .crx_mouse_visited,
#company_setup_container .aRow.crx_mouse_visited, #company_setup_container .bRow.crx_mouse_visited,
#company_setup_container .aRow .crx_mouse_visited, #company_setup_container .bRow .crx_mouse_visited
 {
  background-color: rgba(255, 0, 0, 0.2) !important;
  outline: 1px solid rgba(255, 0, 0, 0.6) !important;
  cursor: pointer;
}

div.clickEffect{
	position:fixed;
	box-sizing:border-box;
	border-style:solid;
	border-color:#FFFF00;
	border-radius:50%;
	animation:clickEffect 0.4s ease-out;
	z-index:99999;
}
@keyframes clickEffect{
	0%{
	opacity:1;
		width:0.5em; height:0.5em;
		margin:-0.25em;
		border-width:0.5em;
	}
	100%{
		opacity:0.2;
		width:15em; height:15em;
		margin:-7.5em;
		border-width:0.03em;
	}
}
